.lv-spinner.white {
	border: 0.25em solid var(--white-opacity-25);
	border-bottom-color: var(--white);
}
.lv-spinner.primary {
	border: 0.25em solid var(--primary-opacity-25);
	border-bottom-color: var(--primary);
}
