:root {
	--white: #ffffff;
	--black: #000000;
	--primary: #000000;
	--secondary: #000000;
	--border-radius: 0;
	--alert: #000000;
	--success: #000000;
	--warning: #000000;
	--gray: #000000;
	--padding-y: 0;
	--padding-x: 0;
	--input-height: auto;
	--input-width: initial;
}
